<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p class="header-link"><%= link_to 'Back to Articles', articles_path %></p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= markdown(@article.body) %></p>
  </div>
</div>
