@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

$headline-font: 'Noto Sans', sans-serif;
$body-font: 'Noto Serif', serif;

body {
 font-family: $body-font;
 padding: 0;
 margin: 0;
}

h1, h2, h3 { font-family: $headline-font; }

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-dir-col { flex-direction: column; }

.title-pg-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-background {
  background-image: url('https://source.unsplash.com/DlCr9IujpJI');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.content-background {
  position: relative;
  background-image: url('https://source.unsplash.com/NsUcpqfcpCE');
  background-size: cover;
  height: 100vh;
}

.filter {
  width: 100%;
  height: 100%;
}

.headline-filter { background-color: rgba(0,0,0,0.25); }

.content-filter { background-color: rgba(0,0,0,0.4); }

.pad-section { padding: 10px 0; }

.main-header {
  color: #fff;
  text-align: center;

  h1 {
    font-size: 5.25rem;
    margin: 0;
  }

  p {
    color: #505050;
    font-size: 1.45rem;
    margin-bottom: 4rem;
    margin-top: 4px;
  }

  @media all and (max-width: 648px) {
    h1 { font-size: 2.75rem; }
    p { font-size: 0.75rem; }
  }
}

.nl-signup {
  margin-bottom: 60px;
  width: 90%;
  text-align: center;

  h2 {
    color: #505050;;
    font-size: 1.5rem;
  }

  input[type='email'] {
    border: none;
    border-radius: 0;
    font-size: 1rem;
    padding: 4px 8px;
    transform: translateX(2px);
    width: 40%;
  }

  @media all and (max-width: 648px) {
    width: 100%;

    h2 { font-size: 0.75rem; }
  }
}

#nl-subscribe-btn {
  background: #C0C0C0;
  border: none;
  color: #505050;
  font-size: 1rem;
  padding: 4px 12px;
  transform: translateX(-2px);
  transition: background-color, 0.15s;

  &:hover, &:focus {
    background-color: #909090;
    cursor: pointer;
  }
}

.scroll-cont {
  flex-direction: column;

  p {
    color: #fff;
    margin: 0;
  }
}

.scroll-cont-up {
  margin-top: -60px;

  p {
    font-family: $headline-font;
    margin-bottom: 20px;
  }

  @media all and (max-width: 648px) {
    p { font-size: 0.75rem; }
  }
}

#scroll-down, #scroll-up {
  width: 60px;
  color: #fff;
  transition: scale, 0.15s;
  text-align: center;

  &:hover, &:focus {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.content-body {
  color: #fff;
  margin: 0 auto;
  width: 90%;

  p {
    font-size: 2.25vw;
  }

  @media all and (max-width: 1200px) {
    p { font-size: 3.25vw; }
  }
  @media all and (max-width: 964px) {
    p { font-size: 3.5vw; }
  }
  @media all and (max-width: 648px) {
    p { font-size: 3.75vw; }
  }
}
