<%= image_tag 'compadre_tagline_banner.jpg' %>

<h2>Welcome to The Compadre, <%= @email %>!</h2>

<h3>You can confirm your account email through the link below:</h3>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
